# Docker Services
MYSQL_ENABLED=false
POSTGRES_ENABLED=true
PGADMIN_ENABLED=true
MONGO_ENABLED=false

# Docker images
DOCKER_MYSQL_VERSION=latest
DOCKER_POSTGRES_VERSION=latest
DOCKER_PGADMIN_VERSION=latest
DOCKER_MONGO_VERSION=latest

# Docker volumes
DOCKER_MYSQL_VOLUME=
DOCKER_POSTGRES_VOLUME=
DOCKER_MONGO_VOLUME=

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_USERNAME=mysql
MYSQL_PASSWORD=mysqlpass
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_EXT_PORT=3306
MYSQL_DATABASE=my-db

# Postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=pgpass
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_EXT_PORT=5432
POSTGRES_DATABASE=my-db

# PgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=root

# Mongo
MONGO_USERNAME=mongo
MONGO_PASSWORD=mongopass
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_EXT_PORT=27017
MONGO_DATABASE=my-db
